// Theme Card Component
// Source: https://tailwindcomponents.com/component/product-card-like-themeforest

.theme-card {
    @apply flex flex-col shadow-md
        cursor-pointer w-96 m-5
        hover:-translate-y-1 duration-300;

    .preview {
        @apply inline relative h-48;

        .thumbnail {
            @apply absolute rounded-t object-cover h-full w-full;
        }

        &:hover {
            .hover-bar {
                @apply opacity-100 bg-gradient-to-t;
            }
        }

        .hover-bar {
            @apply flex flex-row absolute justify-end
                h-16 w-full bottom-0 px-3 space-x-2 bg-none opacity-0
                from-black/20 via-gray-800/20 to-transparent
                transition-all ease-in-out duration-200 delay-100;

            .add-to-bookmarks-button {
                @apply bg-gray-50/10 rounded-full
                    px-1 h-9 w-9 my-auto hover:bg-gray-50/20
                    transition-colors duration-200;

                svg {
                    @apply text-xl pl-1 fill-gray-200 hover:fill-white
                        transition-all duration-200;
                }
            }

            .add-to-favorites-button {
                @apply bg-gray-50/10 rounded-full
                    px-1 h-9 w-9 my-auto hover:bg-gray-50/20
                    transition-colors duration-200;

                svg {
                    @apply text-xl pl-1 fill-gray-200 p-1 hover:fill-white
                    transition-all duration-200;
                }
            }
        }
    }

    .body {
        @apply flex flex-col bg-white rounded-b p-3;

        .title {
            @apply text-sm font-semibold text-gray-900
                hover:underline truncate;
        }

        .author-category {
            @apply text-gray-400 truncate mt-1;

            @extend .text-xxs;

            .author {
                @apply font-semibold hover:underline;
            }

            .category {
                @apply font-semibold hover:underline;
            }
        }

        .price {
            @apply text-sm text-gray-600 font-bold mt-4 mb-1;
        }

        .details {
            @apply flex flex-row mt-2;

            .detail-column {
                @apply flex flex-col flex-auto;

                .rating {
                    @apply flex flex-row;

                    &:hover {
                        svg {
                            @apply fill-amber-500;
                        }
                    }

                    svg {
                        @apply fill-amber-400
                            transition-all duration-200;

                        height: 18px;
                        width: 18px;
                    }

                    .count {
                        @apply text-gray-400 ml-1 hover:underline;

                        @extend .text-xxs;

                        margin-top: 3px;
                    }
                }

                .statistic {
                    @apply text-gray-400 mt-2 pl-1;

                    @extend .text-xxs;
                }
            }

            .button-column {
                @apply flex flex-row flex-auto justify-end;

                a {
                    @apply h-10;
                }

                .cart-button {
                    @apply flex border px-3 my-auto py-2 mr-2
                        border-amber-500 hover:bg-amber-500
                        transition-all duration-200;

                    &:hover {
                        svg {
                            @apply fill-white;
                        }
                    }

                    svg {
                        @apply fill-amber-700 delay-100;

                        height: 18px;
                        width: 18px;
                    }
                }

                .preview-link-button {
                    @apply flex border px-3 my-auto py-2 text-xs
                        border-amber-500 hover:bg-amber-500
                        transition-all duration-200;

                    @extend .rounded-xss;

                    &:hover {
                        svg {
                            @apply fill-white;
                        }

                        .text {
                            @apply text-white;
                        }
                    }

                    svg {
                        @apply fill-amber-700 delay-100;

                        height: 18px;
                        width: 18px;
                    }

                    .text {
                        @apply text-amber-700
                            font-semibold ml-2 delay-100;

                        padding-top: 1px;
                    }
                }
            }
        }
    }
}
