// Hero Component
// Source: https://tailwindcomponents.com/component/free-tailwind-css-hero-component

header {
    @apply w-full bg-white;

    .hero {
        @apply container flex flex-col items-center py-24 sm:pt-48 sm:pb-24 mx-auto;

        .intro {
            @apply w-11/12 sm:w-2/3 lg:flex justify-center items-center flex-col mb-5 sm:mb-10;

            .title {
                @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl
                    xl:text-6xl text-center text-gray-800 font-black leading-7 md:leading-10
                    text-transparent bg-clip-text bg-gradient-to-tl from-gray-600 to-gray-800;

                span {
                    @extend .gradient-text;
                }
            }

            .description {
                @apply mt-5 sm:mt-10 lg:w-10/12 text-gray-600 font-normal
                    text-center text-sm sm:text-lg;

                a {
                    @apply font-bold;

                    @extend .gradient-text;
                }
            }
        }

        .links {
            @apply flex justify-center items-center space-x-5 mt-10;

            .link {
                @apply bg-transparent focus:outline-none rounded
                    transition duration-300 ease-in-out
                    lg:text-xl shadow-md
                    px-4 sm:px-10 py-2 sm:py-4 text-sm;
            }

            .primary-button {
                @extend .link;

                @apply bg-orange-400 hover:bg-orange-500 text-white
                    hover:shadow-md;
            }

            .secondary-button {
                @extend .link;

                @apply bg-gray-700 hover:bg-gray-800 text-white
                    hover:shadow-md;
            }
        }
    }
}
