.search-bar {
    @apply bg-white duration-300 flex hover:scale-105
        items-center p-6 rounded-lg shadow-md space-x-6 transform transition
        my-10 w-6/12;

    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.050);

    .input-container {
        @apply bg-gray-100 flex p-4 rounded-lg space-x-4 w-full;

        .class-svg-3 {
            @apply h-6 opacity-30 w-6;
        }

        .search-input {
            @apply bg-gray-100 outline-none w-full h-7;
        }
    }

    .category-select {
        @apply cursor-pointer flex font-semibold px-4 py-3 rounded-lg text-gray-500;

        .class-svg-5 {
            @apply h-6 w-6;
        }
    }

    .search-button {
        @apply bg-gray-800 cursor-pointer duration-300 font-semibold
            hover:shadow-lg px-5 py-3 rounded-md text-white transition;
    }
}
