.text-xxs {
    font-size: 0.7rem;
    line-height: 0.9rem;
}

.rounded-xss {
    border-radius: 2px;
}

.gradient-text {
    @apply text-transparent bg-clip-text bg-gradient-to-tl from-orange-600 to-yellow-200;
}
